@import "sass-rem";

.switch {
  user-select: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: rem(10px);
  font-size: rem(12px);
  color: #212121;

  &__body {
    width: 3rem;
    height: 1.5rem;
    position: relative;
    display: inline-block;
    border-radius: 12px;
    background: #605DEC;
    overflow: hidden;
  }

  &__input {
    height: 0;
    width: 0;
    opacity: 0;

    &:checked {
      &+.switch {
        &__slider {
          background-color: #605dec;

          &::before {
            transform: translateX(1.5rem);
          }
        }

      }
    }

    &:disabled {
      &+.switch {
        &__slider {
          background-color: #CDD6E5;
        }

      }
    }
    
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #CDD6E5;
    cursor: pointer;
    transition: .2s ease-in-out;

    &::before {
      content: '';
      bottom: rem(4px);
      position: absolute;
      left: rem(4px);
      width: 1rem;
      height: 1rem;
      background-color: #f2f7fe;
      border-radius: 50%;
      transition: .2s ease-in-out;
    }
  }

  &__span {
    position: absolute;
    right: 0;
  }
}

.header {
  padding: 1rem 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    align-items: center;
    gap: rem(50px);
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: rem(10px);


  }

  &__btns {
    display: flex;
    gap: rem(30px);
  }

  &__links {
    display: flex;
    gap: rem(6px);
    align-items: center;
  }
}

.block {
  display: inline-flex;
  gap: rem(10px);
  align-items: center;
  cursor: pointer;

  &:hover {
    .block__name {
      background-color: var(--primary);
      color: #fff;
    }
  }

  &__name {
    min-width: rem(118px);
    padding: rem(8px 16px);
    height: rem(33px);
    color: #212121;
    font-size: rem(14px);
    border-radius: rem(4px);
    transition: .2s;
    background-color: #eaf2ff;
  }

  &__btn {
    width: rem(32px);
    height: rem(32px);
    flex: 0 0 rem(32px);
    padding: rem(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(4px);
    background: var(--primary);
    color: #fff;
  }
}

.blockDisable {
  .block {

    &__name,
    &__btn {

      pointer-events: none;
      color: #8594AE !important;
      background-color: #CDD6E5 !important;
      cursor: default;
    }
  }
}